<!--https://docs.djangoproject.com/en/3.0/ref/class-based-views/generic-editing/#createview-->
{% extends 'base.html' %} {% block title %} Add Category {% endblock %} {% block
content %} {% if user.is_authenticated %}
<br />
<h1>Add a new category</h1>
<br />

<div class="form-group">
	<form method="POST">
		{% csrf_token %} {{ form.as_p }}
		<button class="btn btn-primary">Save</button>
	</form>
</div>
<br />
{% if categories %}
<ul>
	{% for item in categories %}
	<li>{{ item.name }}</li>
	{% endfor %}
</ul>
{% else %}
<p>There are no categories available.</p>
{% endif %} {% else %}
<h2>Access denied</h2>

{% endif %} {% endblock %}