<!--https://docs.djangoproject.com/en/3.0/ref/class-based-views/generic-editing/#createview-->
{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br />
<h1>Add a new post</h1>
<br />

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Save</button>
    </form>
</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("author_input").value = name;
</script>

{% else %}
<h2>Access denied</h2>

{% endif %}
{% endblock %}